<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <SFM.Properties.Settings>
            <setting name="SFM_SFMWebService_SFMConsultingWebService" serializeAs="String">
                <value>http://localhost:1039/SFMConsultingWebService.asmx</value>
            </setting>
        </SFM.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SFMConsultingWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1039/SFMConsultingWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SFMConsultingWebServiceSoap"
                contract="SFMWebservice.SFMConsultingWebServiceSoap" name="SFMConsultingWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
